<div class="load-image-container">
  <div class="modal-body">
    <button
      class="close-button"
      (click)="onCloseUpload()"
      aria-label="Закрыть форму загрузки"
    >×</button>
    <form [formGroup]="imageForm" (ngSubmit)="uploadImage()">
      <div>
        <input
          type="file"
          id="file-input"
          accept="image/*"
          required
          (change)="onFileSelected($event)"
        >
      </div>

      @if (selectedFileName) {
        <div class="file-name-display">
          Выбрано: {{ selectedFileName }}
        </div>
      }

      <div>
        <img [src]="imgResultAfterCompression" *ngIf="imgResultAfterCompression" style="max-width: 70%;"/>
      </div>

      <div>
        <label for="title">Название:</label>
        <input
          id="title"
          formControlName="title"
          placeholder="Имя картины"
          required
        >
      </div>

      <div>
        <label for="description">Описание:</label>
        <textarea
          id="description"
          formControlName="description"
          placeholder="Введите описание картины"
          required
        ></textarea>
      </div>

      <div>
        <label for="year">Дата создания или год:</label>
        <input
          id="year"
          appTooltip="Можно пропустить дату или дату и месяц пробелами."
          formControlName="year"
          placeholder="ЧЧ.ММ.ГГГГ"
          required
          (input)="onInput($event)"
        >
      </div>

      <div class="select-container">
        <div>
          <label for="album">Альбом:</label>
          <select id="album" formControlName="album" required (change)="selectOption($event)">
            @for (album of albums$ | async; track $index) {
              <option [value]="album">
                {{ album }}
              </option>
            }
          </select>
        </div>
      </div>

      @if (newOpen) {
        <app-modal-new
          info="Создать альбом"
          (inputValue)="addAlbum($event)"
          (outside)="closeNewModal()">
        </app-modal-new>
      }

      @if (isDuplicate) {
        <app-modal
          info={{modalText}}
          (outside)="closeNewModal()">
        </app-modal>
      }
      <button type="submit" [disabled]="!(imageForm.valid && !waiting)">
        Загрузить изображение
      </button>
    </form>

    @if (uploadedCardUrl) {
      <div>
        <h3>Загруженное изображение:</h3>
        <img [src]="uploadedCardUrl" alt="Загруженное изображение карточки" style="max-width: 70%;">
      </div>
    }
  </div>
</div>
