.modal-info-container {
  padding: 0;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  animation: 0.5s inOut;
}

.modal-info {
  padding: 20px;
  max-width: 400px;
  color: var(--color-black);
  border: 2px solid var(--color-yellow);
  box-sizing: border-box;
  box-shadow: 5px 5px 30px yellow;
  border-radius: 15px;
  background-color: rgba(200, 247, 255, 0.9);
}

.modal-error {
  border-color: red;
  box-shadow: 0px 0px 5px red;
}

.text {
  margin: 0;
}


.btn-container {
  padding-top: 10px;
  margin-bottom: 20px;
}

.btn-confirm {
  padding: 7px 15px;
  border: solid 1px var(--color-black);
  border-radius: 5px;
  cursor: pointer;
  background-color: lawngreen;
}

@keyframes inOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
