<div class="story__container">
  <p class="authors">Год: 2024</p>
  <p class="authors">Авторы: ученики 5Г класса </p>
  <p class="authors">Даниил, Вячеслав, Руслан</p>
  <!-- <p class="authors">Тронов Вячеслав</p>
  <p class="authors">Алиев Руслан</p> -->
  <h2 class="story__title">Проклятие трёх кукол.</h2>
  <p class="text">В каком-то там городе, в какой-то там стране жили-были три друга: Славик, Русик и Даник. Ко дню пятницы тринадцатого друзьям нужно было написать сказку. Но подумав, они поняли, что это очень-очень скучно и пошли гулять. А куда никто не знал, даже дворник, который постоянно спрашивал, куда кто или иной идёт, вдруг напакастят. После того, как друзья прокрались через машины, чтобы дворник не заметил, они двинулись к заброшенному дому, одиноко стоящему в лесу. Долго ли коротко шли три друга, но наконец дошли.</p>
  <div class="img-container">
    <img  src="assets/literature/children at home.jpg" alt="children at home">
  </div>
  <p class="text">Стоят они и говорят.</p>
  <p class="text"><i>- Что-то тут жутковато.</i> – сказал Слава.</p>
  <p class="text">Но на самом деле там и впрямь было страшно. Стены здания были разрушены, стёкла были битыми и грязными, а сверху в крыше была дыра.</p>
  <p class="text"><i>- Да не парься.</i> – сказал Русик.</p>
  <p class="text"><i>- Ты что, предлагаешь идти обратно и сочинять сказку?</i> – спросил Даня.</p>
  <p class="text"><i>- Я ничего не предлагаю, но просто тут реально страшно.</i></p>
  <p class="text"><i>- Ну с этим не поспоришь.</i> – сказал Даня.</p>
  <p class="text"><i>- Согласен.</i> – подтвердил Руслан.</p>
  <p class="text">И в этот момент из здания донёсся грохот. Друзья вздрогнули в стороне громыхнула молния под сопровождение дождя. Друзья побежали в кафешку поблизости. Они сели за столик и заказали по бургеру и банки коллы. Сидя ребята и разговаривают о заброшенном доме.</p>
  <p class="text"><i>- Интересно, что это был за грохот?</i> – спросил Слава.</p>
  <p class="text"><i>- Не знаю.</i> – ответил настороженный Руслан.</p>
  <p class="text">Дождь постепенно стихал и друзья наконец-то вышли из кафе, решив снова отправиться в заброшенный дом.</p>
  <p class="text">Идут они по лесу и снова слышат тот же грохот. Спустя несколько минут дороги, со стороны доносящегося грохота, выбежал мужик, крича нам, чтобы мы туда не ходили.</p>
  <p class="text"><i>- Но почему?</i></p>
  <p class="text">Не ответив, мужчина бежал дальше, пока не скрылся за деревьями. Друзья, подойдя и встав на тоже место где и в тот раз, не став медлить, двинулись вперёд. Приблизившись, они увидели три подъезда. Два из них были плотно заперты, а один, центральный, был открыт на распашку.</p>
  <p class="text"><i>- Ну что, пойдёмте? Хоть разделяться не придётся.</i> – сказал Русик.</p>
  <p class="text"><i>- Ну, пойдем.</i></p>
  <p class="text"><i>- Пойдём на чердак.</i> - предложил Слава.</p>
  <p class="text">Не дожидаясь ответа, друзья двинулись по лестнице вверх.</p>
  <p class="text">Запыхавшиеся Слава и Даня, добежали первыми к двери на чердак. Но Русик быстро догнал. Когда они открыли дверь, ребята подумали, что чердак пустой. Они присмотрелись и увидели кресло, обклеенное драгоценными украшениями. А в центре сидела кукла…</p>
  <div class="img-container">
    <img  src="assets/literature/doll.jpg" alt="doll">
  </div>
  <p class="text"><i>- Вот это олигарша на стуле.</i> – пошутил Руслан.</p>
  <p class="text"><i>- На вид этой кукле лет 500.</i></p>
  <p class="text"><i>- А то и больше.</i></p>
  <p class="text"><i>- Пацаны, тут за креслом шкаф. Под замком, странным таким!</i></p>
  <p class="text">Все трое подошли к дряхлой и старинной дверце.</p>
  <p class="text"><i>- Может тут есть ключ?</i></p>
  <p class="text"><i>- Он должен быть старинным.</i> – сказал Слава</p>
  <p class="text"><i>- Ну, разумеется.</i></p>
  <p class="text">Друзья осмотрели кресло и каждое украшение.</p>
  <p class="text"><i>- Вот! Я нашёл ключ!</i> – воскликнул Русик.</p>
  <p class="text"><i>- Где?</i></p>
  <p class="text"><i>- Вот, в руке у куклы.</i></p>
  <p class="text"><i>- Мне не хочется трогать эту куклу. Она вся в паутине.</i></p>
  <p class="text"><i>- Но где пауки?</i></p>
  <p class="text"><i>- Да ладно, не бойтесь.</i> – сказал Слава, взяв ключ.</p>
  <p class="text">Слава подошёл к дверце, но ключ не подошёл.</p>
  <p class="text"><i>- Смотрите, смотрите, там дверь.</i> – сказал Даня.</p>
  <p class="text">Друзья зашли в другую комнату и увидели еще один шкаф. Шкаф не был заперт. Они открыли его и увидели ещё две куклы.</p>
  <div class="img-container">
    <img  src="assets/literature/dolls.jpg" alt="dolls">
  </div>
  <p class="text"><i>- Там за куклами сейф со скважиной. Может сейчас ключ подойдёт.</i> – с надеждой сказал Слава.</p>
  <p class="text">И вправду ключ подошёл. А в сейфе был ещё один ключ, который подошёл к первому шкафу за креслом первой куклы.</p>
  <p class="text"><i>- Барабанная дробь, и-и-и-и…</i></p>
  <p class="text"><i>- Наконец-то!</i></p>
  <p class="text">Дверца открылась, а внутри лежит такой старинный под стать куклам дневник. А внутри дневника…</p>
  <p class="text"><i>- Тут пусто.</i></p>
  <p class="text"><i>- Эх, а я думал, что тут хоть что-то будет.</i></p>
  <p class="text"><i>- Давай напишем в нём что-нибудь.</i></p>
  <p class="text">И Руслан написал насколько куклы страшные. Вдруг раздался злобный смех с ноткой угрозы.</p>
  <p class="text"><i>- Что это было?</i> – в панике спросил Русик.</p>
  <p class="text"><i>- Откуда я знаю.</i> – ответил Слава.</p>
  <p class="text"><i>- Куда пропала кукла?</i></p>
  <p class="text"><i>- Что??? Кукла???</i></p>
  <p class="text"><i>- Да!!!</i></p>
  <p class="text"><i>- Стойте! Не орите! Смотрите в дневник!</i></p>
  <p class="text">В дневнике появилась картинка сарая или конюшни. Вдруг картинка увеличилась и наступила тьма.</p>
  <p class="text">Друзья открыли глаза и  поняли, что они в этой самой конюшне.</p>
  <p class="text"><i>Они встали, осмотрелись.</i></p>
  <p class="text"><i>- Ха, смотри какой ты большой! Как богатырь.</i></p>
  <p class="text"><i>- Ты тоже.</i></p>
  <p class="text"><i>- Стоп! Мы что стали богатырями.</i> – не поверив своим глазам, сказал  Слава.</p>
  <p class="text"><i>- Похоже на то.</i> – ответил Даня.</p>
  <p class="text">Они вышли из конюшни и оказались в средневековой деревне.</p>
  <p class="text"><i>- Мы что попали в прошлое?</i></p>
  <p class="text"><i>- Ага.</i></p>
  <p class="text">Впереди виднелся рынок. Друзья отправились на голоса людей.</p>
  <p class="text"><i>- Пошлите, посмотрим, что там.</i> – сказал Русик.</p>
  <p class="text">И они вышли на рынок. Вокруг стоял сильный галдёшь.</p>
  <p class="text"><i>- Прямо как у нас в классе на перемене.</i> – пошутил Слава.</p>
  <p class="text"><i>- ПОКУПАЙТЕ ИГРУШКИ ДЕТЯМ!</i> – донеслось до ребят.</p>
  <p class="text"><i>- Что? Вы слышали?</i> – спросил Даня.</p>
  <p class="text"><i>- Да.</i></p>
  <p class="text">Друзья увидели торговца, у которого были те самые куклы.</p>
  <div class="img-container">
    <img  src="assets/literature/heroes.jpg" alt="heroes">
  </div>
  <p class="text">Слава подошёл и спросил:</p>
  <p class="text"><i>- Это обычные куклы?</i></p>
  <p class="text"><i>- Не бывает обычных по такой цене.</i></p>
  <p class="text"><i>- А какая у них особенность?</i></p>
  <p class="text"><i>- Они заколдованы.</i> – ответил торговец.</p>
  <p class="text"><i>- Ну, а зачем?</i></p>
  <p class="text"><i>- Так они становятся уникальными и можно продать подороже.</i></p>
  <p class="text"><i>- А в чём их способности?</i> – спросил Руслан.</p>
  <p class="text"><i>- В том, что они в пятницу тринадцатого оживают и могут творить чудеса.</i></p>
  <p class="text"><i>- Но как Вы это сделали?</i></p>
  <p class="text"><i>- Я каждую куклу зачаровывал по целой неделе ритуалов.</i></p>
  <p class="text"><i>- Но это же страшные куклы. Их надо уничтожить.</i></p>
  <p class="text"><i>- Делайте с ними что хотите, но после того как вы их купите.</i></p>
  <p class="text"><i>- Но у нас нет денег.</i></p>
  <p class="text"><i>- Я готов отдать вам всех трёх кукол за три серебряных меча и три бронзовых шлема.</i></p>
  <p class="text"><i>- Но у нас нету этого.</i> – сказал Даня.</p>
  <p class="text"><i>- Ты что! Мы же богатыри! Богатыри с доспехами.</i></p>
  <p class="text"><i>- Точно! А я и забыл.</i></p>
  <p class="text">Друзья отдали свои доспехи торговцу и получили кукол. Вышли три богатыря в поле с оставшимися доспехами. Достали кукол и стали рубить их топорами и кинжалами. А остатки сожгли.
  Хлопок…</p>
  <p class="text">И друзья как ни в чём не бывало появились на заброшке.</p>
  <p class="text"><i>- Ну, у нас получилось?</i> – спросил Слава.</p>
  <p class="text"><i>- Ну, вроде, да. Раз мы стали прежними.</i></p>
  <p class="text">Произошёл ещё один хлопок… И куклы появились на своих местах.</p>
  <p class="text">Куклы зашевелились и двинулись к ребятам.</p>
  <p class="text">БАМ!!!</p>
  <p class="text">Распахнулась дверь. На чердак забежал наш дворник. Он направил свою метлу на дневник, из метлы вылетел луч света, и с громким треском проклятый дневник вмести с куклами исчезли.</p>
  <p class="text"><i>- Это что за палочка-выручалочка?</i> – спросил Русик.</p>
  <p class="text"><i>- Это моя волшебная метла. Да и сам я волшебник, которому больше пятисот лет. Только я изменял свою внешность как хотел. Мне приходилось охотится за проклятым  дневником уже 200 лет. Он каждый год в пятницу 13-го творил чудеса, из-за которых некоторые могли погибнуть. Я очень хорошо знал мощь этого дневника, потому что я сам его создал вместе с этими куклами. Ещё тогда на рынке я продавал этих кукол ради денег. А потом я начал создавать дневник, в котором записывал каждую проданную куклу. Каждая троица таких кукол могла поразить целый населенный дом. И в очередную пятницу 13-го этот дневник исчез. Я уже думал, что мои три сотни лет были потрачены впустую. И меня поразило, что этот дневник опасен. И вот уже 200 лет я за ним охочусь. Но теперь его нет. И все куклы, которые я продавал по всему миру, исчезли.</i></p>
  <p class="text">Договорив, волшебник взмахнул метлой, и пропал.</p>
  <p class="text">Друзья поняли, что здесь уже делать нечего и пошли по домам. Успев написать про это историю к следующей пятнице.</p>
  <h4>Конец</h4>
</div>

