.story__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.authors {
  text-align: end;
}

.story__title {
  text-align: center;
}

.text {
  margin: 0;
  line-height: 1.7em;
  text-indent: 20px;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
}
