<header class="header">
  <div class="header__container container">
    <div class="btn-menu" (click)="toggleMenu()">Меню</div>
    <div class="header__left">
      <div class="logo__container pi pi-check">
        <div
          class="logo header__logo"
          routerLink="home"
        >Art-Family</div>
      </div>
      <nav class="nav">
        <ul class="list-reset flex nav__list">
          @for (item of navMenu; track item) {
            @if (item.isLoggedIn | async) {
              <li class="nav__item">
                <a class="nav__link" routerLinkActive="active"
                  routerLink={{item.routerLink}}
                >{{item.linkName}}</a>
              </li>
            }
          }
        </ul>
      </nav>
    </div>
    <div class="header__right">
      <button *ngIf="!(userIn$ | async); else out" (click)="enter()" class="header__input-btn" aria-label="Вход в аккаунт">
        Войти
      </button>
      <div *ngIf="name$ | async as name">{{name}}</div>
    </div>
  </div>
  <ng-template #out>
    <button (click)="outAuth()" class="header__input-btn" aria-label="Выход из аккаунта">
      Выход
    </button>
  </ng-template>
  <div class="modal-container" *ngIf="modal$ | async as modal">
    <app-modal (outside)="closeModal()" *ngIf="modal.active" [info]="modal.modalText" [error]="modal.error"></app-modal>
  </div>
</header>
<nav class="nav-menu" *ngIf="navIsOpen" (appClickOutside)="closeMenu()">
  <div class="btn-menu" (click)="closeMenu()">Меню</div>

  <ul class="list-reset flex nav__list">
    @for (item of navMenu; track item) {
      @if (item.isLoggedIn | async) {
        <li class="nav__item">
          <a class="nav__link" routerLinkActive="active"
            routerLink={{item.routerLink}}
          >{{item.linkName}}</a>
        </li>
      }
    }
  </ul>
</nav>
<app-modal (outside)="closeModal()" *ngIf="confirm" info="Вы уверены?" [confirmIn]="confirm" (confirmOut)="confirmOut($event)"></app-modal>
