.header {
  padding: 20px 10px;
  margin-bottom: 10px;
  color: var(--color-light);
  background-color: var(--color-black);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding-top: 0;
  padding-bottom: 0;
}

.header__left {
  display: flex;
  align-items: center;
}

.btn-menu {
  display: none;
  padding: 10px 0;
  color: aliceblue;
  cursor: pointer;
}

.nav-menu {
  display: none;
}

.logo {
  color: chartreuse;
  text-shadow: var(--color-light) 1px 0 10px;
}

.header__logo {
  margin-right: 60px;
  cursor: pointer;
}

.header-top__right {
  align-self: center;
  width: 100%;
}

.header__menu {
  justify-content: space-between;
  padding-bottom: 5px;
}

.nav__list {
  text-align: center;
  font-weight: 600;
  line-height: 25px;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

.nav__link {
  position: relative;
  outline: none;
  z-index: 1;
  transition: color var(--transition);
  cursor: pointer;
}

.nav__link:hover {
  color: var(--color-c283f3);
}

.nav__link:active {
  color: var(--color-7943A4);
}

.header__input-btn {
  color: var(--color-light);
  outline: none;
  border: none;
  background: none;
  transition: color var(--transition);
  cursor: pointer;
}

.header__input-btn:hover {
  color: var(--color-c283f3);
}


.header__input-btn:active {
  color: var(--color-9d5cd0);
}

.header__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin: 0;
  margin-left: 10px;
}


.active {
  color: var(--color-c283f3);
}

@media (max-width: 1365px) {
  .header {
    padding: 5px 5px;
    /* color: var(--color-light);
    background-color: var(--color-black); */
  }

  .header__container{
    position: relative;
    justify-content: space-between;
  }

  .logo {
    object-fit: cover;
  }

  .header__logo {
    margin-right: 25px;
  }
}

@media (max-width: 1023px) {
  /* Header */
  .header-top__right {
    padding-bottom: 2px;
  }

  .nav__item:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 660px) {
  .btn-menu {
    display: inline-block;
  }

  .nav {
    display: none;
  }

  .nav-menu {
    position: absolute;
    top: 0;
    display: block;
    padding-left: 7px;
    padding-right: 10px;
    padding-bottom: 10px;
    z-index: 1;
    color: var(--color-light);
    border-radius: 0 0 5px 0;
    background-color: black;
    opacity: 0.8;
  }

  .nav-menu .btn-menu {
    margin-top: 8.5px;
    margin-left: 3px;
    margin-bottom: 15px;
  }

  .nav__list {
    flex-direction: column;
    text-align: left;
  }

  .nav__item {
    margin-bottom: 5px;
  }

  .header__logo {
    margin: 0;
  }
}
