<header class="header">
  <div class="header__container container">
    <div class="header__left">
      <div class="logo__container pi pi-check">
      </div>
      <nav class="nav">
        <ul class="list-reset flex nav__list">
          <li
            class="logo nav__item"
            routerLink="home"
          >ArtNest</li>
          @for (item of navMenu; track item) {
            @if (item.isLoggedIn | async) {
              <li class="nav__item">
                <a class="nav__link" routerLinkActive="active"
                  routerLink={{item.routerLink}}
                >{{item.linkName}}</a>
              </li>
            }
          }
        </ul>
      </nav>
    </div>
    <div class="header__right">
      @if (name$ | async; as name) {
        <div class="header__user">
          <div class="user" (click)="this.navIsOpen = !this.navIsOpen;">{{ (name && name.length > 8) ? (name | slice:0:8) + '...' : name }}</div>
        </div>
        @if (navIsOpen) {
          <div class="user-menu">
            <ul class="list-reset flex menu__list">
              <!-- <li class="menu__item">
                <button (click)="navIsOpen = false" class="header__input-btn nav__link" aria-label="Выход из аккаунта">
                  Редактировать
                </button>
              </li> -->
              <li class="menu__item">
                <button (click)="this.confirm = true; navIsOpen = false" class="header__input-btn nav__link" aria-label="Выход из аккаунта">
                  Выход
                </button>
              </li>
            </ul>
          </div>
        }
      }

      @if (!(userIn$ | async)) {
        <button (click)="signup()" class="header__input-btn" aria-label="Вход в аккаунт">
          Регистрация
        </button>
        <button (click)="enter()" class="header__input-btn" aria-label="Вход в аккаунт">
          Войти
        </button>
      <!-- } @else { -->
      }
    </div>
  </div>
  @if (modal$ | async; as modal) {
    <div class="modal-container">
      <app-modal (outside)="closeModal()" *ngIf="modal.active" [info]="modal.modalText" [error]="modal.error"></app-modal>
    </div>
  }
</header>

@if (confirm) {
  <app-modal (outside)="closeModal()" info="Вы уверены?" [confirmIn]="confirm" (confirmOut)="confirmOut($event)"></app-modal>
}
