<div class="container">
  @if (picture) {
    <div class="picture-container">
      <div appSwipe (next)="next()" (previous)="prev()" class="image-container">
        <img src="{{URL}}/images/{{picture.fileName}}" [alt]="picture.title">
        <div class="btn-group">
          <button class="btn-nav" (click)="prev()"></button>
          <button class="btn-nav" (click)="next()"></button>
        </div>
      </div>
      <div class="card__info">
        <p><b><i>{{ picture.title }}</i></b>
          <span>;  {{ picture.year | revertDate}} год</span>
        </p>
      </div>
      <div class="description">
        <p>{{picture.description}}</p>
      </div>
      <div style="text-align: center;">
        <p><i>Альбом:</i> {{picture.album}}</p>
        <p>({{picture.mod ? 'Опубликовано' : 'Не опубликовано'}})</p>
      </div>
      <div class="buttons-container">
        <button class="btn" (click)="editPicture()">Редактировать</button>
        <button class="btn danger" (click)="delPicture()">Удалить</button>
      </div>

    </div>
    @if (isEditOpen) {
      <app-modal-edit (closed)="this.isEditOpen = false" [imageData]="picture"></app-modal-edit>
    }
    @if (isDeleteOpen) {
      <app-modal info={{modalText}} [confirmIn]="confirm" (confirmOut)="confirmDel($event)"></app-modal>
    }
  } @else {
    <app-spinner></app-spinner>
  }
</div>
