.select-container {
  position: relative;
  padding-top: 10px;
}

.select-label {
  position: absolute;
  top: -5px;
  left: 8px;
  opacity: 0.5;
  font-size: small;
}

.select {
  padding: 3px 5px;
  max-width: 115px;
  border-radius: 5px;
  border-color: var(--color-7943A4);
  background-color: #e9d5f9;
}
