.select-container {
  position: relative;
  padding-top: 10px;
}

.select-label {
  margin-left: 5px;
}

.select {
  padding: 5px 10px;
  max-width: 150px;
  min-width: 100px;
  background-color: rgba(231, 255, 238, 0.5);
}

