<div class="container">
  <h3 class="title">Авторизуйтесь, чтоб вам были доступны дополнительные возможности</h3>

  <form class="form" [formGroup]="checkForm" (ngSubmit)="sendForm()">
    <div class="form-group">
      <label for="login" class="form-label">Логин *</label>
      <input
        id="login"
        type="text"
        class="form-input"
        name="login"
        pInputText
        formControlName="login"
      >
      <!-- <ng-error *ngIf="fLoginControl?.hasError('pattern')" message="Не валидный логин"></ng-error> -->
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Пароль *</label>
      <input
        id="password"
        type="password"
        name="password"
        class="form-input"
        pInputText
        formControlName="password"
        />
      <!-- <ng-error *ngIf="fPasswordControl?.hasError('pattern')" message="Не валидный пароль"></ng-error> -->
    </div>
    <button class="btn">Войти</button>
  </form>
  <div class="align-center">
    <p>Вы ещё не с нами? <a routerLink="/registration" class="link">Зарегистрироваться</a></p>
  </div>
</div>
@if (modal) {
  <app-modal info="Не все поля корректно заполнены" (appClickOutside)="closeModal()" [error]="true"></app-modal>
}

