<div class="container">
  <h3 class="title">Войдите, чтоб вам были доступны дополнительные возможности</h3>

  <form class="form" [formGroup]="checkForm" (ngSubmit)="sendForm()">
    <div class="form-group">
      <label for="" class="form-label">Имя *</label>
      <input
        type="text"
        class="form-input"
        name="name"
        pInputText
        placeholder="User"
        formControlName="name"
      >
      <ng-error *ngIf="fNameControl?.hasError('pattern')" message="Не валидное имя"></ng-error>
    </div>
    <div class="form-group">
      <label for="" class="form-label">Дата рождения</label>
      <p-inputMask
        type="text"
        mask="99.99.9999"
        name="password"
        class="input"
        [style]="{'width': '100%', 'padding': '5px 10px'}"
        placeholder="01.01.2000"
        formControlName="password"
        />
      <ng-error *ngIf="fPasswordControl?.hasError('pattern')" message="Не валидный пароль"></ng-error>
    </div>
    <button class="btn">Войти</button>
  </form>
  <div class="align-center">
    <p>Вы ещё не с нами? <a routerLink="/registration" class="link">Зарегистрироваться</a></p>
  </div>
</div>
@if (modal) {
  <app-modal info="Не все поля заполнены" (appClickOutside)="closeModal()" [error]="true"></app-modal>
}

