.select-container {
  display: flex;
  margin-bottom: 10px;
}

.body-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.select {
  margin-right: 10px;
}

.cards__container {
  display: grid;
  margin-top: 15px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 0.5fr));
  gap: 5px;
}

.card__picture {
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 605px) {
  .cards__container {
    grid-template-columns: repeat(auto-fill, minmax(70px, 0.5fr));
    gap: 3px;
  }

}
