.card-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.marker {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: 3px solid white;
  box-shadow: 0 0 5px gray;
  opacity: 0.5;
}

.card__picture {
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.card__title {
  position: absolute;
  bottom: 5px;
  left: 2px;
  right: 2px;
  text-align: center;
  padding: 0 5px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 6px white;
}

@media (max-width: 605px) {
  .card__title {
    font-size: 7px;
  }
}
