.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__title {
  margin: 0;
  text-align: center;
}

.home__text {
  margin-bottom: 0;
  text-indent: 15px;
  text-align: justify;
}

.home__text::first-letter {
  font-size: larger;
}

.help {
  font-size: small;
  opacity: 0.4;
}
