<div class="container home">
  @if (newYearActive) {
    <app-year-svg></app-year-svg>
    <h1>С новым годом!</h1>
  }
  <h2 class="home__title"><i>Art-Family</i></h2>
  <p class="home__text">Добро пожаловать на наш семейный сайт посвященный творческим успехам семьи. Здесь собраны поделки, рисунки и картины в галерее, музыкальные начинания, а также литературные сочинения на других страницах.</p>
  @if (logIn && newYearActive) {
  <p class="home__text">Сегодня у вас активна вкладка NewYear, где можно немного развлечься всей семьёй. Всем хорошего настроения!</p>
  }
  @if (!logIn) {
    <p class="home__text">На данный момент Вам доступна только галерея с рисунками и поделками. Для просмотра всего контента нужно войти в аккаунт введя в поля формы свои Имя и Дату рождения. Если Вы ещё не зарегистрированы и Вам интересно следить за нашим творчеством, подайте заявку на регистрацию. (<a class="link" routerLink="/registration">&nbsp;подать заявку&nbsp;</a>)</p>
  }
  @if (pre2025) {
    <p class="home__text">Скоро <span class="color-anime">новый год</span>, и по этому случаю в эти праздники, сразу после боя курантов, для всех будет активно новогоднее дополнение! Если он уже наступил, обнови страницу.</p>
  }
</div>
