.select-container {
  display: flex;
  margin-bottom: 10px;
}

.body-top {
  position: relative;
  display: flex;
  column-gap: 10px;
  /* align-items: center;
  justify-content: space-between; */
}

.select {
  margin-right: 10px;
}

.cards__container {
  display: grid;
  padding-top: 15px;
  margin-bottom: 15px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 0.5fr));
  gap: 5px;
}

.body-top .cards__container {
  position: absolute;
  top: 60px;
  width: 100%;
  /* background-color: red; */
}

.card__picture {
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 605px) {
  .cards__container {
    grid-template-columns: repeat(auto-fill, minmax(70px, 0.5fr));
    gap: 3px;
  }
}
