<div class="container">
  <h2 class="title">Регистрацию</h2>

  <form class="form" [formGroup]="checkForm" (ngSubmit)="sendForm()">
    <div class="form-group">
      <label for="" class="form-label">Имя *</label>
      <input
        type="text"
        class="form-input"
        name="name"
        pInputText
        placeholder="Иван"
        required="true"
        formControlName="name"
      >
    </div>
    <div class="form-group">
      <label for="" class="form-label">Дата рождения *</label>
      <input
        name="birthday"
        type="date"
        class="form-input input"
        pInputText
        required="true"
        formControlName="birthday"
      />
    </div>
        <div class="form-group">
      <label for="" class="form-label">Логин *</label>
      <input
        name="login"
        type="text"
        class="form-input input"
        pInputText
        required="true"
        formControlName="login"
        />
    </div>
    <div class="form-group">
      <label for="" class="form-label">Пароль *</label>
      <input
        name="password"
        type="password"
        class="form-input input"
        pInputText
        placeholder="Можно простой от 4 символов"
        required="true"
        formControlName="password"
        />
    </div>

    @if (checkForm.get('password')?.value.length > 3) {
      <div class="form-group">
        <label for="" class="form-label">Повторите пароль *</label>
        <input
          name="passwordControl"
          type="password"
          class="form-input input"
          pInputText
          required="true"
          formControlName="passwordControl"
        />
      </div>
    }

    <div class="form-group">
      <label for="" class="form-label">Комментарий *</label>
      <textarea
        type="text"
        class="form-input texerea"
        name="comment"
        pInputText
        rows="5"
        required="true"
        placeholder="Кто Вы? От кого узнали о нас? Минимум 5 символов."
        formControlName="textarea"
      ></textarea>
      <!-- <ng-error *ngIf="fTextareaControl?.hasError('minLength')" message=""></ng-error> -->
    </div>
    @if (!btnDisabled) {
      <button class="btn">Зарегистрироваться</button>
    }
  </form>
</div>
@if (modal) {
  <app-modal [info]="text" (appClickOutside)="closeModal()" [error]="error"></app-modal>
}
