.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 0.5fr));
  gap: 5px;
}

.card__picture {
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 605px) {
  .cards__container {
    grid-template-columns: repeat(auto-fill, minmax(70px, 0.5fr));
    gap: 3px;
  }
}
