@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after,
::before{
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Open Sans';
  src: local(''),
  url('fonts/open-sans-v23-latin_cyrillic-300.woff2') format('woff2'),
  url('fonts/open-sans-v23-latin_cyrillic-300.woff') format('woff');
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans';
  src: local(''),
  url('fonts/open-sans-v23-latin_cyrillic-600.woff2') format('woff2'),
  url('fonts/open-sans-v23-latin_cyrillic-600.woff') format('woff');
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans';
  src: local(''),
  url('fonts/open-sans-v23-latin_cyrillic-700.woff2') format('woff2'),
  url('fonts/open-sans-v23-latin_cyrillic-700.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: local(''),
  url('fonts/open-sans-v23-latin_cyrillic-regular.woff2') format('woff2'),
  url('fonts/open-sans-v23-latin_cyrillic-regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
}

:root {
  --color-9d5cd0: #9d5cd0;
  --color-c283f3: #c283f3;
  --color-d1a9f0: #d1a9f0;
  --color-7943A4: #7943A4;
  --color-999: #999;
  --color-333: #333;
  --color-eaeaea: #eaeaea;
  --color-9643a4: #9643a4;
  --color-error: #d11616;
  --color-light: #fff;
  --color-black: #000;
  --color-CACACA: #cacaca;
  --transition: 0.2s ease-in-out;
}

body {
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-eaeaea);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 1200px;
}

.flex {
  display: flex;
}

.btn {
  padding: 5px 10px;
  background-color: rgb(179, 253, 185);
  color: #000;
  border-radius: 5px;
  border: 1px solid rgb(7, 167, 47);
  outline: none;
  cursor: pointer;
  transition: transform ease-in-out 0.1s;
}

.btn:active {
  background-color: rgb(174, 0, 255);
  transform: scale(0.95);
}

.btn:hover {
  transform: scale(1.05);
}

@media (max-width: 1365px) {
  .container {
  }
}

@media (max-width: 767px) {
  /* .container {
    padding-left: 0px;
    padding-right: 0px;
  } */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
